.cinema__seat{
  background-color: bisque;
  width: 65px;
  height: 50px;
  outline: 1px solid;
  float: left;
  vertical-align:top;
  /* display:inline-block; */
  /* display:inline-table */
}

.grid__parent{
  display:block;
}