.cinema__seat{
  /* background-color: bisque; */
  background-color: white;
  width: 65px;
  height: 50px;
  outline: 1px solid;
  float: left;
  vertical-align:top;
  /* display:inline-block; */
  /* display:inline-table */
}

.grid__parent{
  display:block;
}
.app__container{
  display:flex;
  flex-direction: column;
}

#cinema__grid{
  margin-right: 30px;
  border-color: red;
}

#price__counter{
  width: 30%;
  padding-left: 35%;
}